{% extends (is_granted("ROLE_ADMIN")) ? ("admin/base.html.twig") : ("customer/base.html.twig") %}

{% block title %}Etape
{% endblock %}

{% block body %}
	<section class="container col-auto col-md-9 col-xl-10">
		<h2 class="text-center mb-5">{{ step.name }}
			{% if step_check %}
				<img src="{{ asset('build/images/ok.png') }}" class="imgcheck"/>
			{% else %}
				<img src="{{ asset('build/images/work.png') }}" class='imgcheck'/>
			{% endif %}
		</h2>
		<div>
			<ul class="text-center mt-5">
				{% for action_check in action_checks %}
					<li>
						<a href="{{ path('action_showUser', {'id': action_check.action.id}) }}">{{ action_check.action.name }}</a>
						{% if action_check.isComplete %}
							<img src="{{ asset('build/images/ok.png') }}" class="imgcheck"/>
						{% else %}
							<img src="{{ asset('build/images/work.png') }}" class='imgcheck'/>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>
{% endblock %}
