{% extends (is_granted("ROLE_ADMIN")) ? ("admin/base.html.twig") : ("customer/base.html.twig") %}
{% block body %}
	<div class="container col-auto col-md-9 col-xl-10">
		<h2 class="text-center mb-5">{{ action.name }}</h2>
		<div class="container">
			<article>{{ action.text }}</article>
		</div>
		<div class="ressources container-fluid mt-5">
			{% for item in action.ressource %}
				<div class="row">
					<div class="col-6">
						<div class="imgPDFvidéo">
							{% if item.type == "image" %}
								<img id='showIMG' src="{{ vich_uploader_asset(item) }}" alt="{{ item.name }}" width="800">
							{% endif %}

							{% if item.type == "pdf" %}
								<iframe src="{{ vich_uploader_asset(item) }}" alt="{{ item.name }}" width="800" height="600"></iframe>
							{% endif %}

							{% if item.type == "video"%}
								<video controls width="800">
									<source src="{{ vich_uploader_asset(item) }}" alt="{{ item.name }}" type="video/mp4">
								</video>
							{% endif %}
						</div>
					</div>
					<div class="col-6 bg-dark border border-4 border-orange">
						<p class="text-light">{{ item.description }}</p>
						<a class="" href="{{ item.link }}">{{ item.name }}</a>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="formCheck">
			{{ form_start(form) }}

			{{ form_widget(form) }}

			<button>Valider cette étape</button>

			{{ form_end(form) }}

		</div>
	</div>
{% endblock %}
