{% extends 'admin/base.html.twig' %}

{% block title %}Audit index
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<a href="/question/" class="nav-link align-middle py-5 link-orange">
				<i class="fs-1 bi-question-square justify-self-middle"></i>
				<span class="fs-5 ms-1 d-none d-sm-grid">Gestion Questions</span>
			</a>
		</div>
		<div class="row">
			<h1>Liste des audits</h1>

			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Datecreation</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for audit in audits %}
						<tr>
							<td>{{ audit.id }}</td>
							<td>{{ audit.name }}</td>
							<td>{{ audit.datecreation ? audit.datecreation|date('Y-m-d') : '' }}</td>
							<td>
								<a href="{{ path('audit_show', {'id': audit.id}) }}">show</a>
								<a href="{{ path('audit_edit', {'id': audit.id}) }}">edit</a>
								<a href="{{ path('audit_test', {'id': audit.id}) }}">Lancer un test</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<a href="{{ path('audit_new') }}">Create new</a>
		</div>
	</div>
{% endblock %}
